<div class="row">
  <mat-card class="card-details" *ngFor="let item of rows">
    <mat-card-header>
      <div mat-card-avatar>
        <img [src]="item.avatar" alt="" />
      </div>
      <mat-card-title
        >{{ item.first_name }} {{ item.last_name }}</mat-card-title
      >
      <mat-card-subtitle>{{ item.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Title: {{ item.job_title }}<br />
      Department: {{ item.department }}<br />
      Company: {{ item.company }}<br />
      Location: {{ item.location }}<br />
      Gender: {{ item.gender }} <br />
    </mat-card-content>
  </mat-card>
</div>
