.card-details {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 260px;
  height: 225px;
}

.card-header-image {
  background-size: cover;
}

img {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
